<form class="options-wrap">
  <div class="input-wrap">
    <input type="text" value="Comic Sans" class="font">
  </div>
  <div class="input-wrap">
    <input type="number" value='11' class="font-size">
  </div>
  <div class="color-input">
    <div class="color">a</div>
  </div>

  <div class="font-types">
    <div class="font-select fS1 hovShort">
      <p><i class="fa fa-bold"></i></p>
    </div>
    <div class="font-select fS2 hovShort">
      <p><i class="fa fa-italic"></i></p>
    </div>
    <div class="font-select fS3 hovShort">
      <p><i class="fa fa-underline"></i></p>
    </div>
    <div class="font-select fS4 hovShort">
      <p><i class="fa fa-strikethrough"></i></p>
    </div>
  </div>

  <div class="align-type">
    <div class="align-select aS1 hovShort">
      <p><i class="fa fa-align-left"></i></p>
    </div>
    <div class="align-select aS2 hovShort">
      <p><i class="fa fa-align-justify"></i></p>
    </div>
    <div class="align-select aS3 hovShort">
      <p><i class="fa fa-align-right"></i></p>
    </div>
  </div>

  <div class="list hovShort">
    <p>
      <i class="fa fa-list"></i>
      <i class="fa fa-angle-down"></i>
    </p>
  </div>

  <div class="exit hovShort">
    <p>
      <i class="fa fa-sign-out"></i>
      <i class="fa fa-angle-down"></i>
    </p>
  </div>

</form>
