

.top-bar-wrap {
  background-color: #9e9e9e;
  cursor: move;
  padding: 7px 0 0 0;
  height: 35px;
}

.window-wrap {
  display: flex;
  flex-direction: row;
  padding: 7px 0 30px 5px;
}

.wind-option {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 7px 0 0;
}

.wind-option:hover {
  cursor: pointer;
}

.w1 {
  background-color: red;
}

.w2 {
  background-color: #ffd900;
}

.w3 {
  background-color: #158000;
}

.iS1 {
  margin: 0 1px;
}

.iS1 p {
  padding: 0 0 1px 0;
  margin: 0;
}

.send-opt-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-wrap {
  width: 30%;
  min-width: 70px;
  justify-content: space-around;
}

.left-options-wrap,
.right-options-wrap {
  width: 50%;
}

.right-options-wrap {
  justify-content: flex-end;
}

div.oW1 {
  width: 40%;
  min-width: 110px;
}

.top-bar-wrap,
.left-options-wrap,
.right-options-wrap,
.options-wrap,
.oW2 {
  display: flex;
  flex-direction: row;
}

.send-opt-wrap {
  margin-right: 5px;
  background-color: white;
  border-radius: 4px;
  width: 35px;
  height: 20px;
  text-align: center;
}

.send-opt-wrap:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.divider {
  width: 100%;
  border: 1px solid #858585;
  font-size: 0;
  border-width: 1px 0 0 0;
}

.temp {
  font-size: 0;
  height: 30px;
  width: 100%;
  background-color: #9e9e9e;
}

.fa:before {
  color: #444444;
}
