<div class="interface">
  <div class="ui-wrap">
    <div class="personal-col">
      <app-personal-ui (inboxChanged)="inboxChanged($event)" (draftChanged)="draftChanged($event)"
        (trashChanged)="trashChanged($event)" (spamChanged)="spamChanged($event)" (sentChanged)="sentChanged($event)"
        (popUpChanged)="popUpChanged($event)" (playAudio)="playAudio()" [logInDeets]="logInDeets"></app-personal-ui>
    </div>
    <div class="message-col">
      <app-message-feed [inboxDrop]="inboxDrop" [sentDrop]="sentDrop" [draftDrop]="draftDrop" [trashDrop]="trashDrop"
        [spamDrop]="spamDrop" [messagePop]="messagePop" [send]="send" [draft]="draft" [to]="to" [subject]="subject" [message]="message">
      </app-message-feed>
    </div>
  </div>

  <app-email-pop-up (sent)="sent($event)" (drafted)="drafted($event)" (messageClosed)="messageClosed($event)"
    (sendingTo)="sendingTo($event)" (sendingSubject)="sendingSubject($event)" (sendingMessage)="sendingMessage($event)"
    [messagePop]="messagePop" [appDragable]="appDragable" *ngIf="messagePop">
  </app-email-pop-up>
  <app-shrek-audio [audio]="audio"></app-shrek-audio>
  <!-- <app-example-form></app-example-form> -->
  <div *ngIf="signUp" class="disabled">a</div>
  <app-sign-up (clickSignUp)="clickSignUp($event)" *ngIf="signUp" [appDragable]="appDragable"></app-sign-up>
</div>
