<div class="message-wrap">
  <div class="sender-date-wrap">
    <div class="sender-wrap">
      <p>Albert Richards</p>
    </div>
    <div class="date-wrap">
      <p>09:42 am</p>
    </div>
  </div>
  <div class="subject-wrap">
    <h6>Re: Weekend trip</h6>
    <div class="blue">a</div>
  </div>
  <div class="message-holder">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Cumque sunt perferendis quibusdam rerum doloribus atque exercitationem eum et quasi ad cum reprehenderit natus,
      minima sit?
    </p>
  </div>
</div>