<div class="search-option-wrap">
  <form>
    <div class="search-icon-wrap">
      <i class="fa fa-search"></i>
    </div>
    <input placeholder="search">
  </form>
  <div class="icons-wrap">
    <div class="individual-icon-wrap">
      <i class="fa fa1 fa-caret-left"></i>
    </div>
    <div class="individual-icon-wrap">
      <i class="fa fa2 fa-fast-backward"></i>
    </div>
    <div class="individual-icon-wrap">
      <i class="fa fa3 fa-caret-right"></i>
    </div>
    <div class="individual-icon-wrap">
      <i class="fa fa4 fa-times"></i>
    </div>
  </div>
</div>


<!-- Messages displayed based on icon input -->
<div *ngIf="inboxDrop" class="message-wrap">
  <h1>Inbox</h1>
  <hr>
  <app-message *ngFor="let a of array"></app-message>
</div>

<div *ngIf="draftDrop" class="message-wrap">
    <h1>Sent</h1>
  <hr>
  <app-message *ngFor="let a of array"></app-message>
</div>

<div *ngIf="sentDrop" class="message-wrap">
    <h1>Drafts</h1>
  <hr>
  <app-message *ngFor="let a of array"></app-message>
</div>

<div *ngIf="trashDrop" class="message-wrap">
    <h1>Trash</h1>
  <hr>
  <app-message *ngFor="let a of array"></app-message>
</div>

<div *ngIf="spamDrop" class="message-wrap">
    <h1>Spam</h1>
  <hr>
  <app-message *ngFor="let a of array"></app-message>
</div>


