<div class="search-option-wrap">
  <form>
    <div class="search-icon-wrap">
      <i class="fa fa-search"></i>
    </div>
    <input placeholder="search">
  </form>
  <div class="icons-wrap">
    <div class="individual-icon-wrap">
      <i class="fa fa1 fa-caret-left"></i>
    </div>
    <div class="individual-icon-wrap">
      <i class="fa fa2 fa-fast-backward"></i>
    </div>
    <div class="individual-icon-wrap">
      <i class="fa fa3 fa-caret-right"></i>
    </div>
    <div class="individual-icon-wrap">
      <i class="fa fa4 fa-times"></i>
    </div>
  </div>
</div>
